<li class="divider"></li>
<li>
  <% user_name = notification.sender.name%>
  <% type = notification.notification_type%>
  <a href="#">
    <% if(type == "followed") %>
      <%= user_name %> followed you.
    <% elsif(type == "unfollowed") %>
      <%= user_name %> unfollowed you.
    <% elsif(type == "commented_on_post") %>
      <%= user_name %> commented on your post.
    <% end %>
    <br/>
    <span class="timestamp">
      <i><%= time_ago_in_words(notification.created_at) %> ago.</i>
    </span>
  </a>
</li>