<li>
  <% user_name = sender_user_name(notification)%>
  
  <% if(notification.notification_type == "follow") %>
    <%= user_name %> followed you.
  <% elsif(notification.notification_type == "unfollow") %>
    <%= user_name %> unfollowed you.
  <% elsif(notification.notification_type == "commented") %>
    <%= user_name %> commented on your post.
  <% end %>
  <span class="timestamp">
    <%= time_ago_in_words(notification.created_at) %> ago.
  </span>
</li>
<li class="divider"></li>