<% provide(:title, "Home")%>

<div class="center jumbotron">
  <h1>Welcome to Flitter</h1>
  <h2>Flitter is twitter!!!</h2>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
